<h1> ~ ~ ~ W e l c o m e ~ ~ ~</h1>
  <p>Alles goed?</p>


<h2>Click on one of the buttons below</h2>
  <div class="btn-group btn-danger btn-group-lg" role="group" aria-label="...">
    <button type="button" class="btn btn-info">Home</button>
    <button type="button" class="btn btn-warning"><%= link_to "Sign-in", new_user_session_path%></button>
    <button type="button" class="btn btn-primary">Pictures</button>
  </div>

<div class="container">
  <div class="row">
    <div class="col-lg-4">Artikel 1<br>
      -------<br>
      met heel veel tekst<br></div>
    <div class="col-lg-4">Artikel 2<br>-----<br></div>
    <div class="col-lg-4">Artikel 3<br> -------<br></div>
  </div>
  <div class="row">
    <div class="col-lg-4">---</div>
    <div class="col-lg-4">---</div>
    <div class="col-lg-4">---</div>
  </div>
</div>
<!-- <div class="artikelen">
  <p>Artikel 1</p>
  <p>Artikel 2</p>
  <p>Artikel 3</p>
</div> -->


  <div>
    <img src="../../../assets/images/IMG_0120.jpg" alt="mooooi" height="200px" width="200px">
  </div>
